@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Sen:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lobster Two';
}

body {
  margin: 0;
  padding: 40px 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
